.container
    .contacthead

    .col-md-12
        .row.con
            .panel-heading.text-center CONTACT US
            .p We are always on point when it comes to having a chat with our contacts and people to service!
            .panel-body(ng-include="'/partials/main/new-courses'")

        .col-md-4
            .row
            img.phone(src="http://www.fractalsciences.com/assets/img/phoneLogo.png")
            .p Service: +359 7786 554
            .p Personal: 0894433756
            .panel-body(ng-include="'/partials/main/new-courses'")

        .col-md-4
            .row
            img.contact(src="http://www.clker.com/cliparts/8/i/q/y/M/P/google-maps-icon-blank-md.png")
            .p Situated in EU
            .p Bulgaria
            .p Sofia (Postal Code: 1000)
            .panel-body(ng-include="'/partials/main/new-courses'")

        .col-md-4
            .row
            img.mail(src="http://i1172.photobucket.com/albums/r576/zombaza/Untitled-1_zps4505414f.png")
            .p rosiphoto@abv.bg
            .p Alternative: altrosiphoto@abv.bg
            .panel-body(ng-include="'/partials/main/new-courses'")

    .col-md-12
        .col-md-4
            .row
            img.face(src="http://www.site-fusion.co.uk/files/writeable/uploads/webfusion57288/image/facebook_button_white_new.png")
            .p Facebook Account
            .p https://www.facebook.com/rositsa90?fref=ts
            .panel-body(ng-include="'/partials/main/new-courses'")

        .col-md-4
            .row
            img.face(src="https://g.twimg.com/Twitter_logo_white.png")
            .p Twitter Account
            .p https://twitter.com/RosiPhoto
            .panel-body(ng-include="'/partials/main/new-courses'")

        .col-md-4
            .row
            img.face(src="http://www.iconsdb.com/icons/download/white/deviantart-4-512.gif")
            .p Deviantart Account
            .p http://cloverspyf.deviantart.com/
            .panel-body(ng-include="'/partials/main/new-courses'")