.container
    .investment
    .investment1
    .logo
    //- .slicer

    .col-md-12
        img.icon.bio(src="http://i1172.photobucket.com/albums/r576/zombaza/logo2_zps239676ad.png")
        .row.wedding 
            .panel-heading.text-center(style="font-size: 60px; line-height: 50px;") WEDDING CAPTURE
            .p(style="font-size: 30px;") THE BEAUTIFUL SUM OF COLLECTIVE POSITIVE ENERGY!
            .panel-body(ng-include="'/partials/main/new-courses'")   

        .row.rows
            .col-md-6.wed
                .panel-heading.text-center WEDDING ENGAGEMENTS
                .p Our service proves a high-quality album of your most precious, unforgettable memory of your life, so that when the time comes, you will bring back those memories in just a glance of the pictures taken from our hands!
                .panel-body(ng-include="'/partials/main/new-courses'")

        .row.rowWed
            .col-md-6.wed
                .panel-heading.text-center Investment
                .p <b>Wedding collections start at $2,000</b>
                br
                .p All wedding packages include digital negatives and a proof album (custom image box with 4x6 prints of your full gallery).
                br
                .panel-body(ng-include="'/partials/main/new-courses'")

            .col-md-6.cost1
                .panel-heading.text-center
                .p Session Costs
                .p Traditional Portrait Session Fee (2-3 hours):
                .p <b>$500</b>
                .p Documentary Lifestyle Session Fee (6-8 hours):
                .p <b>$900</b>
                .p Engagement Session (2-3 hours, 2 locations):
                .p <b>$750</b>
                .panel-body(ng-include="'/partials/main/new-courses'")

            .col-md-6.cost
                .panel-heading.text-center
                .p Enjoy single person coverage with Maggie for a minimum of 8 hours.
                .p Or, to capture every moment of your special day, choose 2 person coverage with Maggie and James for a minimum of 8 hours.
                br
                .p Album packages start at <b>$1200</b>
                .p DVD packages start at <b>$900</b>
                .p Deluxe album packages start at <b>$2150</b>
                .p Deluxe DVD packages start at <b>$1500</b>
                .panel-body(ng-include="'/partials/main/new-courses'")