.container
    //.darkness
    .biohead
    //.biohead1

    .col-md-12
        .row.lens
            .panel-heading.text-center BEHIND THE LENS
            .p Learn what it's like to be a photographer and the everyday duty!
            .panel-body(ng-include="'/partials/main/new-courses'")
            img.icon.bio(src="http://i1172.photobucket.com/albums/r576/zombaza/logo2_zps239676ad.png")

        .row.bio1
            .col-md-6.persons
                img.person(src="http://i.imgur.com/mMci978.jpg")
                //- img.person(src="http://i.imgur.com/RCqMbw7.jpg")
            .col-md-6.persons
                img.person(src="http://i1172.photobucket.com/albums/r576/zombaza/rosi_zpsd6f39f9e.jpg")
                //- img.person(src="https://scontent-a-ams.xx.fbcdn.net/hphotos-xap1/t31.0-8/614848_484483474896881_1698169833_o.jpg")
            .col-md-6.info
                h2 Inspiration
                .p.p2 No matter what skill level you’re at in photography, it’s often helpful to take a break and spark the creative process on some new ideas by looking at the work of others; this shouldn’t be confused with imitation, but rather used as a tool for building original ideas.
            .col-md-6.info
                h2 About Me
                .p.p2 I've been introduced to photography by simply exploring, i've always wanted to store my most unforgettable moments in a place, where best fits my needs and fuels my motivation for doing my job better and better every day!