.container
    .home1
    .home2
    .home3

    .col-md-12
        .row.row1
            .col-md-12.head
                .panel-heading.text-center(style="font-size: 60px; line-height: 50px;") ROSI PHOTOGRAPHY
                .p(style="font-size: 35px;") PHOTOGRAPHY IS A LOVE AFFAIR WITH LIFE!
                img.icon(src="http://i1172.photobucket.com/albums/r576/zombaza/logo2_zps239676ad.png")
                .panel-body(ng-include="'/partials/main/new-courses'")
    
        .row.row2
            .col-md-6.home
                .panel-heading.text-center(style="line-height: 40px;") ROSITSA IVANOVA
                .p A photographer, who desires fame and fortune. A person who is yet to become the one who you will be searching for when the need is to come! 
                .panel-body(ng-include="'/partials/main/new-courses'")

        .row.row3
                .panel-heading.text-center SERVICES
                br
                .p Our services deliver a high-quality pictures/albums with a low amount of payment, which can make jaw drop at anytime. We only shoot at Bulgaria, due to the lack of transport and money we receive frequently. We are sorry!

        .row.row4
                .panel-heading.text-center QUALITY
                br
                .p The quality of our shooting is an ulra high resolution reproduction of our digital artwork and its not just HD, the resolution is as high as it can ever be, so you wont be in need of a higher quality!

        .row.row5
                .panel-heading.text-center PRICING
                br
                .p The current pricing of shooting isn't high or low, its the price that will best fit your needs even when low on cash, because our current quality is as good as the payment!
                .panel-body(ng-include="'/partials/main/new-courses'")